# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Django
*.sqlite3
/staticfiles/

# Environment variables
.env

# OS/editor
.DS_Store
.vscode/
.idea/

README_ENTREGA_1.md
README_ENTREGA_2.md
README_ARREGLOS.md